<h1 class="text-center">Dostępne oferty sprzedaży</h1>
      <div class="d-flex mt-5 justify-content-center" >
        <div class="d-flex flex-row" *ngIf="offers && offers.length <= 0 ">
          <div class="col text-right">
            <a href="#" class="btn btn-dark" routerLink="/add">
            Dodaj pierwszą ofertę!
            </a>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        <div class="col" *ngFor="let offer of offers">
          <div class="card text-right">
            <img *ngIf=offer.image src={{offer.image}} class="card-img-top" alt="car_img" width="1000" height="300">
            <img *ngIf=!offer.image src="../../../assets//images/placeholder.png" class="card-img-top" alt="car_img" width="1000" height="300">
            <div class="card-body">
              <h5 class="card-title">{{offer.brand}} {{offer.model}}</h5>
                <div class="d-flex flex-row">
                  <div class="col">
                      <div class="row"><p>Marka: {{offer.brand}}</p> </div>
                      <div class="row"><p>Model: {{offer.model}}</p></div>
                      <div class="row"><p>Rok produkcji: {{offer.production_year}}</p></div>
                      <div class="row"><p>Moc: {{offer.power}}km</p></div>
                      <div class="row"><p>Paliwo: {{offer.fuel}}</p></div>
                  </div>
                  <div class="col">
                      <div class="row"><p >Przebieg: {{offer.mileage}}km</p></div>
                      <div class="row"><p>Pojemność: {{offer.capacity}}cm<sup>3</sup></p></div>
                  </div>
              </div>
              <div class="d-flex flex-row">
                <div class="col justify-content-start"><p class="card-text"><small class="text-muted">Opublikowano {{offer.pub_date}}</small></p></div>
                <div class="col d-flex flex-row-reverse text-right mr-0"><a class="btn btn-dark" routerLink="/details/{{offer.id}}">Szczegóły</a></div>
            </div>
            </div>
          </div>
        </div>
      </div>