<h1 class="text-center">Twoje oferty sprzedaży</h1>
      <div class="d-flex mt-5 justify-content-center" >
        <div class="d-flex flex-row" *ngIf="offers && offers.length <= 0 ">
          <div class="col text-right">
            <a href="#" class="btn btn-dark" routerLink="/add">
            Dodaj pierwszą ofertę!
            </a>
          </div>
        </div>
      </div>
  <div class="container d-flex w-75 " *ngFor="let offer of offers" >
  <div class="card mb-3"  >
    <div class="row g-0">
      <div class="col-md-4">
        <img *ngIf=!offer.image src="../../../assets//images/placeholder.png" width="500"  height="300" class="img-fluid rounded-start w-auto" alt="car_img">
        <img *ngIf=offer.image src={{offer.image}} class="img-fluid rounded-start w-auto" width="500"  height="300" alt="car_img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="row">
            <div class="col-md-10">
              <h5 class="card-title">
                {{offer.brand}} {{offer.model}}
              </h5>
            </div>
            <div class="col-md-1 justify-content-end">
              <img id="img1" *ngIf="!offer.is_pub"  src="../../../assets/icons/upload.svg" alt="opublikuj" width="32" height="32" (click)="onPublishOffer(offer.id)" >
            </div>
            <div class="col-md-1">
              <img id="img2" src="../../../assets/icons/trash.svg" alt="usun" width="32" height="32" (click)="onDeleteOffer(offer.id)" >
            </div>
          </div>          
          <p class="card-text">{{offer.description | slice:0:200}}...</p>
          <div class="d-flex align-items-start">
            <div *ngIf=offer.is_pub class="col justify-content-start"><p class="card-text"><small class="text-muted">Opublikowano {{offer.pub_date}}</small></p></div>
            <div *ngIf=!offer.is_pub  class="col justify-content-start"><p class="card-text"><small class="text-muted">Jeszcze nie opublokowano</small></p></div>
            <div class="col d-flex  text-right"><a class="btn btn-dark" routerLink="/mydetails/{{offer.id}}">Szczegóły</a></div>
            <div class="col d-flex flex-row-reverse text-right"><a class="btn btn-dark" routerLink="/edit/{{offer.id}}">Edytuj</a></div>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>