<div class="container d-flex w-75 " *ngFor="let offer of offers">
  <div class="card mb-3 w-auto" >
    <div class="row w-auto">
      <div class="col-md-4">
        <img src={{offer.image}} class="img-fluid rounded-start w-auto" alt="cycki">
      </div>
      <div class="col-md-8 d-flex">
        <div class="card-body">
          <h5 class="card-title">{{offer.title}}</h5>
          <p class="card-text">{{offer.brand}} {{offer.model}}</p>
          <div class="d-flex flex-row align-items-end ">
            <div class="col justify-content-start"><p class="card-text"><small class="text-muted">Dodano {{offer.pub_date}}</small></p></div>
            <div class="col d-flex flex-row-reverse text-right mr-0"><a class="btn btn-dark" routerLink="details/{{offer.id}}">Edytuj</a></div>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>